h1 {
  color: green;
}

.tv,
.btns {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
}

.container {
  margin-top: 10%;
  background-repeat: no-repeat;
  background-size: cover;
}

.tv {
  margin-top: 43px;
  width: 332px;
  height: 270px;
  display: flex;
  flex-wrap: wrap;
  background-color: #F7F9ED;
  justify-content: space-between;
  overflow: hidden;
  padding: 2px 0;
  border-radius: 4px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.tv:hover {
  box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px,
    rgb(31, 193, 27) 0px 0px 0px 6px,
    rgb(255, 217, 19) 0px 0px 0px 9px,
    rgb(255, 156, 85) 0px 0px 0px 12px,
    rgb(255, 85, 85) 0px 0px 0px 15px;
}

.tela {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px !important;
  border-radius: 6px;
  width: 283px !important;
  height: 157px !important;
  margin-top: 14px !important;
  margin-left: 7%;
  border-radius: 25%;
  border: 3px inset rgba(189, 184, 184, 0.226);
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
    rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.tela p {
  font-size: 13px;
  margin-left: -220px;
  margin-top: -20px;
  color: orangered;
}

.controles {
  background-color: #9C8E68;
  margin-top: 10px;
}

.tela,
.controles {
  width: 100%;
  height: 50%;
}

.btns {
  width: 300px;
  justify-content: space-evenly;
  background-color: #674F30;
  padding: 10px;
  margin-top: 15px;
  border-radius: 3px;
}

.btn-primary,
.btn-danger {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
