<div class="geral">
  <div class="item">
    <div class="container d-flex justify-content-center flex-column">
      <div class="tv">
        <div class="tela">
          <h1 class="text-center">
            <p>TV A</p>
            _{{counter$ | async}}
          </h1>
        </div>
        <div class="controles">
          <div class="btns text-center">
            <button class="p-2 btn btn-primary" (click)="_incrementaContador()">+</button>
            <button class="p-2 btn btn-danger" (click)="_decrementaContador()">-</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="item">
    <app-display-contador></app-display-contador>
  </div>
</div>